.orbit_path {
  border: 1px dotted rgba(255, 255, 255, 0.3);
}
.moon__planet {
  position: absolute;
  top: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  border-radius: 50%;
  background-color: #8f8f8f;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  top: -1%;
  margin-left: -0.5em;
  margin-top: 0.5em;
  font-size: 1.2em;
}
.moon__position {
  position: absolute;
  width: 2em;
  height: 2em;
  margin-left: -1em;
  margin-top: -1em;
  left: 100%;
  top: 50%;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
}
.moon_orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 10em;
  margin-top: -5em;
  margin-left: -5em;
  border-radius: 50%;
  border: 1px dotted rgba(255, 255, 255, 0.3);
  animation: moon_orbit_animation 2s infinite linear;
  transform-style: preserve-3d;
}
@keyframes moon_orbit_animation {
  0% {
    transform: rotateX(90deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateZ(-360deg);
  }
}
@keyframes invert {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}
