body {
  min-height: 100vh;
}
.flex-grow {
  flex: 1;
}
.the-image {
  float: right;
  margin: 10px 0 0 10px;
}
.dropdown-toggle {
  padding-top: 0;
  height: 40px;
}
.dropdown-toggle:hover {
  padding-top: .5rem;
}
.dropdown:hover .dropdown-toggle {
  padding-top: .5rem;
}
.dropdown .dropdown-menu {
  top: 90%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-item:hover {
  color: #33acfe;
}
